In [1]:
import pandas as pd

In [2]:
%pwd

'd:\\MLOPS\\ML-Project-Moduler-Structure\\experiment'

In [3]:
cd ..

d:\MLOPS\ML-Project-Moduler-Structure

In [4]:
df = pd.read_csv("data/gender.csv")

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group D,master's degree,standard,none,62,70,75
1,female,group C,bachelor's degree,free/reduced,completed,66,83,83
2,female,group D,some college,free/reduced,none,79,89,86
3,male,group C,master's degree,free/reduced,none,61,67,66
4,male,group E,high school,standard,none,73,64,57

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [9]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [49]:
X= df.drop("math_score", axis=1)
y = df["math_score"]

In [50]:
num_features = X.select_dtypes(include="number").columns
cat_features = X.select_dtypes(exclude="number").columns

In [51]:
num_pipeline = Pipeline(steps=[
    ("Imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler(with_mean=False))
])

cat_pipeline = Pipeline(steps=[
    ("Imputer", SimpleImputer(strategy="most_frequent")),
    ("OneHot", OneHotEncoder(handle_unknown="ignore")),
    ("scaler", StandardScaler(with_mean=False))
])

In [52]:
prepocessor = ColumnTransformer([
  ("num_pipeline", num_pipeline, num_features),
  ("cat_pipeline", cat_pipeline, cat_features)  
])

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
X_train_preporcessor = prepocessor.fit_transform(X_train)
X_test_preporcessor = prepocessor.transform(X_test)